@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black-primary: #10100e;
  --black-secondary: #a8a8a8;
  --blue-primary: #506398;
  --blue-secondary: #b4b7cb;
  --white-primary: #c0c0c3;

  background-color: var(--white-primary);
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  margin: none;
  padding: none;
}
